<!DOCTYPE html>
<html>
<head>
    <title>Github Navigator</title>
</head>
<body>
<h1 align="center"> Search results for : <i>{{search_term}} </i></h1>
<p align="center">Found {{total}} repositories coresponding to the term "<i>{{search_term}} </i>", displaying the latest created ones :</p>
{% for item in top5 %}
	<h2>{{loop.index}}. {{item['name']}}</h2>
	<h3> Created at {{item.created_at}}</h3>
	<a href="{{item['owner']['html_url']}}"><img src="{{item['owner']['avatar_url']}}" alt="avatar" height="42" width="42"/></a>
	{{item['owner']['login']}}
	<h3>LastCommit</h3>
	{{item['Xsha']}} {{item['XMessage']}}  {{item['Xname']}}
	<hr/>
{% endfor %}

</body>
</html>
